<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    <link rel="stylesheet" href="/static/administrador.css">
</head>
<body>
    <section>
        <div class="contenedor">
            <div class="menu">
                <figure>
                    <img id="menu-icono" src="{{ url_for('static', filename='/img//menunuevo.jpg') }}" alt="Menu" onclick="toggleMenu()">
                </figure>
                <div class="menu-options" id="menu-options">
                    <div class="menu-content">
                        <span class="close-btn" onclick="toggleMenu()">&times;</span>
                        <div class="nombre-usuario">
                            <figure>
                                <img id="usuario" src="{{ url_for('static', filename='/img/perfil.png') }}" alt="User">
                            </figure>
                            <h3 class="usuario">{{ username | capitalize }}</h3>
                        </div>
    
                        <div class="pgn_inicio">
                            <figure>
                                <img id="pgn-inicio" src="{{ url_for('static', filename='/img/hogar.png') }}" alt="Home">
                            </figure>
                            <a href="{{ url_for('inicio') }}">Inicio</a>
                        </div>
    
                        <div class="Buscar_tarejta">
                            <figure>
                                <img id="buscar-tarea" src="{{ url_for('static', filename='img/expediente.png') }}" alt="Search">
                            </figure>
                            <a href="{{ url_for('familia') }}">Buscar por tarjeta</a>
                        </div>
    
                        <div class="cambiar_contraseña">
                            <figure>
                                <img id="cambiar-contraseña" src="{{ url_for('static', filename='img/seguro.png') }}" alt="Cambio de contraseña">
                            </figure>
                            <a href="{{ url_for('cambiar_contraseña') }}">Cambio de contraseña</a>
                        </div>

                        {% if rol == 'administrador' %}
                            <div class="cerrar_sesion">
                                <figure>
                                    <img id="cerrar-sesion" src="{{ url_for('static', filename='img/nueva-cuenta.png') }}" alt="Logout">
                                </figure>
                                <a href="{{ url_for('agregarUsuario') }}">Agregar usuario</a>
                            </div>

                            <div class="cerrar_sesion">
                                <figure>
                                    <img id="cerrar-sesion" src="{{ url_for('static', filename='img/resumen.png') }}" alt="Logout">
                                </figure>
                                <a href="{{ url_for('administrador') }}">Usuarios</a>
                            </div>
                        {% endif %}

                        
                        
    
                        <div class="cerrar_sesion">
                            <figure>
                                <img id="cerrar-sesion" src="{{ url_for('static', filename='img/cerrar-sesion.png') }}" alt="Logout">
                            </figure>
                            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                        </div>                                 
                    </div>
                </div>
            </div>
            
            <div class="nombre-soft">
                <h2 id="nombre">Acondicionado Soft</h2>
            </div>
            <div class="logo-empresa">
                <figure id="logo-emp">
                    <img class="imagen-logo" src="{{ url_for('static', filename='img/logoCutipiles.png') }}" alt="Logo de la empresa">
                </figure>
            </div>
        </div>
    </section>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>IP</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for sesion in sesiones_activas %}
                    <tr>
                        <td>{{ sesion.username }}</td>
                        <td>{{ sesion.ip_address }}</td>
                        <td class="{% if sesion.estado == 'Activo' %}active{% else %}inactive{% endif %}">
                            {{ sesion.estado }}
                        </td>
                        <td>
                            <form action="{{ url_for('cambiar_estado_usuario', user_id=sesion.id) }}" method="POST">
                                <button type="submit" class="btn {% if sesion.estado_us == 'Activo' %}btn-danger{% else %}btn-success{% endif %}">
                                    {% if sesion.estado_us == 'Activo' %}
                                        Desactivar
                                    {% else %}
                                        Activar
                                    {% endif %}
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Función para actualizar la lista de sesiones activas
            function actualizarSesionesActivas() {
                $.ajax({
                    url: "{{ url_for('administrador') }}",
                    type: 'GET',
                    success: function(response) {
                        $('#sesiones-activas').html(response);
                    },
                    error: function(error) {
                        console.log('error en consala '+error);
                    }
                });
            }

            // Actualizar sesiones activas cada 10 segundos
            setInterval(actualizarSesionesActivas, 10000); // Actualizar cada 10 segundos
        });
    </script>
    <script src="/static/javascript/manu.js"></script>
</body>
</html>
