<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/familia.css">
    <title>Buscar por familia</title>
    <link rel="website icon" type="png" href="/static/img/expediente.png">
    
</head>
<body>
    <section>
        <div class="contenedor">
            <div class="menu">
                <figure>
                    <img src="{{ url_for('static', filename='/img//menunuevo.jpg') }}" alt="Menu" onclick="toggleMenu()">
                </figure>
                <div class="menu-options" id="menu-options">
                    <div class="menu-content">
                        <span class="close-btn" onclick="toggleMenu()">&times;</span>
                        <div class="nombre-usuario">
                            <figure>
                                <img id="usuario" src="{{ url_for('static', filename='/img/perfil.png') }}" alt="User">
                            </figure>
                            <h3 class="usuario">{{ username | capitalize }}</h3>
                        </div>
    
                        {% if destino == 'almacen' %}
                            <div class="pgn_inicio">
                                <figure>
                                    <img id="pgn-inicio" src="{{ url_for('static', filename='/img/hogar.png') }}" alt="Home">
                                </figure>
                                <a href="{{ url_for('inicio_almacen') }}">Almacen</a>
                            </div>

                        {% endif %}
                        {% if destino == 'produccion' %}
                            <div class="pgn_inicio">
                                <figure>
                                    <img id="pgn-inicio" src="{{ url_for('static', filename='/img/hogar.png') }}" alt="Home">
                                </figure>
                                <a href="{{ url_for('inicio') }}">Inicio</a>
                            </div>

                        
                            <div class="Buscar_tarejta">
                                <figure>
                                    <img id="buscar-tarea" src="{{ url_for('static', filename='img/expediente.png') }}" alt="Search">
                                </figure>
                                <a href="{{ url_for('familia') }}">Buscar por tarjeta</a>
                            </div>
                        {% endif %}
    
                        <div class="cambiar_contraseña">
                            <figure>
                                <img id="cambiar-contraseña" src="{{ url_for('static', filename='img/seguro.png') }}" alt="Cambio de contraseña">
                            </figure>
                            <a href="{{ url_for('cambiar_contraseña') }}">Cambio de contraseña</a>
                        </div>

                        {% if rol == 'administrador' %}
                            <div class="cerrar_sesion">
                                <figure>
                                    <img id="cerrar-sesion" src="{{ url_for('static', filename='img/nueva-cuenta.png') }}" alt="Logout">
                                </figure>
                                <a href="{{ url_for('agregarUsuario') }}">Agregar usuario</a>
                            </div>

                            <div class="cerrar_sesion">
                                <figure>
                                    <img id="cerrar-sesion" src="{{ url_for('static', filename='img/resumen.png') }}" alt="Logout">
                                </figure>
                                <a href="{{ url_for('administrador') }}">Usuarios</a>
                            </div>
                        {% endif %}
    
                        <div class="cerrar_sesion">
                            <figure>
                                <img id="cerrar-sesion" src="{{ url_for('static', filename='img/cerrar-sesion.png') }}" alt="Logout">
                            </figure>
                            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if destino == 'almacen' %}
                <div class="nombre-soft">
                    <h2 id="nombre">Almacen Soft</h2>
                </div>
            {% endif %}
            {% if destino == 'produccion' %}
                <div class="nombre-soft">
                    <h2 id="nombre">Producción Soft</h2>
                </div>
            {% endif %}
            <div class="logo-empresa">
                <figure id="logo-emp">
                    <img class="imagen-logo" src="{{ url_for('static', filename='img/logoCutipiles.png') }}" alt="Logo de la empresa">
                </figure>
            </div>
        </div>
    </section>

    <section>
        <div id="caja-contenidos">
            <div class="caja_contenidos">
                <div class="filtro">
                    <div class="buscador buscador-productos">
                        <figure>
                            <img src="/static/img/lupa.png" alt="Buscar">
                        </figure>
                        <input type="search"  name="buscador" id="buscador" placeholder="Ingresar nombre del producto">
                    </div>
                    <!-- <div id="sugerencias"></div> -->
                </div>
                <div class="subtitulo">
                    <h2>CARACTERISTICAS</h2>
                </div>
                <section class="informacion_producto" id="informacion_producto">
                    <div class="primer_info">
                      <!--   <p>Seccion: <span>ACONDICIONADO</span></p>
                        <p>Familia: <span>NOBUCK</span></p>
                        <p>Color: <span>NEGRO</span></p>
                        <p>T: Prod: <span>REPROCESO</span></p>
                        <p>Cliente: <span>CARLOS</span></p>
                        <p>Fecha: Secc: <span>2019/03/20</span></p>
                    </div>
                    <div class="segunda_info">
                        <p>Tipo de producto: <span>1 Cuero</span></p>
                        <p>Clasificacion: <span>1 PESADO</span></p>
                        <p>Control Secuen: <span>S Sec:392</span></p>
                        <p>Decimetros: <span>8372</span></p>
                        <p>Unitario: <span>3445221</span></p>
                    </div>
                    <div class="tercer_info">
                        <p>Proces/Are: <span>RECEPCION ACOND</span></p>
                        <p>Producto: <span>NOBUCK</span></p>
                        <p>Calibre: <span>14-20</span></p>
                        <p>SubT. Prod: <span>SELECCION</span></p>
                        <p>Fecha Prog: <span>2016/01/29</span></p>
                        <p>Fecha Proce: <span>000/00/00</span></p>
                    </div>
                    <div class="cuarta_info">
                        <p>No. Lote: <span>00212</span></p>
                        <p>Seleccion: <span>03 CUARTAS</span></p>
                        <p>Valor: <span>EJEMPLO</span></p>
                        <p>Hojas: <span>100</span></p> -->
                    </div>
                </section>
            </div>
        </div>
    </section>

    
    <script src="/static/javascript/bucadorTarjeta.js"></script>
    <script src="/static/javascript/menu.js"></script>
</body>
</html>