<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <section>
        <div class="login">
            <div class="logo">
                <figure>
                    <img src="{{ url_for('static', filename='img/logoCutipiles.png') }}" alt="Logo">
                </figure>
            </div>
            <div class="titulo">
                <h1>Inicio de sesión</h1>
            </div>
            <form id="loginForm">
                <div class="campos">
                    <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>
                    <input type="password" id="contraseña" name="contraseña" placeholder="Ingrese su contraseña" required>
                    <select id="destino" name="destino" required>
                        <option value="produccion" selected>Producción</option>
                        <option value="almacen">Almacén</option>
                    </select>
                </div>
                <button type="submit" class="boton-ingresar">Ingresar</button>
                <div id="mensaje" class="error-mensaje"></div>
            </form>
        </div>
    </section>
    <script src="/static/javascript/login.js"></script>
</body>
</html>