<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio</title>
    <link rel="stylesheet" href="/static/css/resumen.css">
    <link rel="website icon" type="png" href="/static/img/resumen.png">
</head>
<body>
    <section>
        <div class="contenedor">
            <div class="menu">
                <figure>
                   
                    <img id="menu-icono" src="{{ url_for('static', filename='/img//menunuevo.jpg') }}" alt="Menu" onclick="toggleMenu()">
                </figure>
                <div class="menu-options" id="menu-options">
                    <div class="menu-content">
                        <span class="close-btn" onclick="toggleMenu()">&times;</span>
                        <div class="nombre-usuario">
                            <figure>
                                <img id="usuario" src="{{ url_for('static', filename='/img/perfil.png') }}" alt="User">
                            </figure>
                            <h3 class="usuario">{{ username | capitalize }}</h3>
                        </div>
    
                        <div class="pgn_inicio">
                            <figure>
                                <img id="pgn-inicio" src="{{ url_for('static', filename='/img/hogar.png') }}" alt="Home">
                            </figure>
                            <a href="{{ url_for('inicio') }}">Inicio</a>
                        </div>
    
                        <div class="Buscar_tarejta">
                            <figure>
                                <img id="buscar-tarea" src="{{ url_for('static', filename='img/expediente.png') }}" alt="Search">
                            </figure>
                            <a href="{{ url_for('familia') }}">Buscar por tarjeta</a>
                        </div>
    
                        <div class="cambiar_contraseña">
                            <figure>
                                <img id="cambiar-contraseña" src="{{ url_for('static', filename='img/seguro.png') }}" alt="Cambio de contraseña">
                            </figure>
                            <a href="{{ url_for('cambiar_contraseña') }}">Cambio de contraseña</a>
                        </div>

                        {% if rol == 'administrador' %}
                            <div class="cerrar_sesion">
                                <figure>
                                    <img id="cerrar-sesion" src="{{ url_for('static', filename='img/nueva-cuenta.png') }}" alt="Logout">
                                </figure>
                                <a href="{{ url_for('agregarUsuario') }}">Agregar usuario</a>
                            </div>
                        {% endif %}
                        
                        <div class="cerrar_sesion">
                            <figure>
                                <img id="cerrar-sesion" src="{{ url_for('static', filename='img/resumen.png') }}" alt="Logout">
                            </figure>
                            <a href="{{ url_for('resumen') }}">Buscar por color</a>
                        </div>

    
                        <div class="cerrar_sesion">
                            <figure>
                                <img id="cerrar-sesion" src="{{ url_for('static', filename='img/cerrar-sesion.png') }}" alt="Logout">
                            </figure>
                            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                        </div>

                        
                       
                        
                    </div>
                </div>
            </div>
            <div class="nombre-soft">
                <h2 id="nombre">Acondicionado Soft</h2>
            </div>
            <div class="logo-empresa">
                <figure id="logo-emp">
                    <img class="imagen-logo" src="{{ url_for('static', filename='img/logoCutipiles.png') }}" alt="Logo de la empresa">
                </figure>
            </div>
        </div>
    </section>

    <section id="caja-contenido">
        <div class="caja-contenedor">
            <div class="filtro">
                <div class="buscador buscador-productos">
                    <figure>
                        <img src="/static/img/lupa.png" alt="Buscar">
                    </figure>
                    <input type="search" name="buscador" id="buscador" placeholder="Ingresar el color">
                </div>
            </div>

            <div class="tabla_contenido">
                <table id="tabla_productos">
                    <thead>
                        <tr>
                            <th>color</th>
                            <th>Secion</th>
                            <th>Total de Hojas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>NEGRO</td>
                            <td>RECEPCION COB</td>
                            <td data-label="Hojas">100</td>
                        </tr>
                        <tr>
                            <td>CAFE</td>
                            <td>RECEPCION COB</td>
                            
                            <td data-label="Hojas">150</td>
                        </tr>
                      
                    </tbody>
                </table>
            </div>
            <div class="pagination-container">
                <div class="results-count"> </div>
                <div class="paginacion">
                    <button id="anterior"><img class="img-hacia-atras" src="/static/img/atras.png" alt="Atrás"></button>
                    <span id="pagina-actual"></span>
                    <button id="siguiente"><img class="img-hacia-adelante" src="/static/img/hacia-adelante.png" alt="Adelante"></button>
                </div>
            </div>
            
            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Detalles de Producto</h2>
                    <div class="modal-body" id="modal-body">
                        
                    </div>
                </div>
            </div>
            
           
        </div>
    </section>

    <script src="/static/javascript/manu.js"></script>
    <script src="/static/javascript/menejo_Tabla.js"></script>
</body>
</html>
